$chat-font: 'Oxygen', sans-serif;
$accent-color: #B0DED9;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}


// Set height & font
html {
  height: 100%;
  body {
    font: 100% $chat-font;
    height: 100%;
    .content-container {
      height: 100%;
    }
  }
}

// Remove outline glow on input fields and buttons
input:focus, .btn:focus {
  outline: none;
}

// Sidebar
.sidebar {
  background-color: $accent-color;
  height: 100%;
  color: #FFF;
  h1 {
    font: 8.3em 'Lobster', sans-serif;
    text-align: center;
    border-bottom: 1px solid #FFF;
    padding-bottom: 0.4em;
    margin-bottom: 0.4em;
    cursor: pointer;
  }
  button.btn-default {
    width: 75%;
    margin: 0 auto;
    padding: 1em 0;
    display: block;
    background-color: $accent-color;
    border: 0.1em solid #FFF;
    color: #FFF;
    font-size: 1.9em;
    letter-spacing: 0.05em;
    font-weight: 300;
    &:hover {
      background-color: #FFF;
      color: $accent-color;
      @include transition(all, 200ms, ease-in);
    }
  }
  .room-list {
    width: 75%;
    list-style: none;
    margin: 1.5em auto 0;
    padding: 0;
    font-size: 2em;
    font-weight: 300;
    li {
      margin-bottom: 0.5em;
      cursor: pointer;
      &:hover {
        color: #7D7D7A;
        font-size: 1.2em;
        @include transition(all, 300ms, ease);
      }
    }
  }
}

// General modal
.center-modal {
  position: fixed;
  top: 20%;
  z-index: 1050;
  .modal-header {
    border: none;
  }
  input {
    width: 100%;
    height: 2em;
    font-size: 2em;
    border: none;
    border-bottom: 1px solid #7D7D7A;
  }
  .modal-footer {
    border: none;
  }
}

// Add room modal
button.btn-default{
  color: #FFF;
  border-radius: 0 ;
  border-color: #C1C1C1;
  background-color: #C1C1C1;
}

// User modal
.user-modal {
  .modal-body {
    padding-top: 0;
    label {
      color: #D2D2D2;
      font-size: 1.3em;
      font-weight: 300;
      padding-bottom: 1em;
    }
  }
  .modal-footer .btn {
    width: 100%;
  }
}

// Landing message
.chat-landing {
  position: relative;
  top: 100px;
  h2 {
    font-size: 5em;
    font-weight: 300;
    text-align: center;
  }
  span {
    display: block;
    font-size: 1.4em;
    text-align: center;
  }
}

// Chat messages
.chat-container {
  height: 100%;
  overflow: hidden;
  h3 {
    position: fixed;
    line-height: 2em;
    padding-bottom: 0.5em;
    color: #7D7D7A;
  }
  .list-container {
    position: relative;
    top: 85px;
    height: 100%;
    padding: 0;
    ul {
      list-style: none;
      padding: 0 0 65px;
      overflow: hidden;
      overflow-y: scroll;
      height: 90%;
    }
    li {
      padding: 1em;
      margin: 0;
    }
    .even {
      background-color: #DFF1EF;
    }
  }
}

.username {
  font-size: 1.15em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.content {
  font-size: 1.2em;
  font-weight: 300;
  overflow-wrap: break-word;
}

.sent-at {
  margin-top: 0.45em;
}

// New message input
.message-input-container {
  position: fixed;
  bottom: 0px;
  width: 66.66666667%;
  padding: 0.5em;
  background-color: #FFF;
  .message-input {
    padding: 1em;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
  }
  .message-send {
    height: 3.04em;
    margin: 0;
    border-radius: 0;
    border-left: none;
    background-color: $accent-color;
    &:hover {
      color: black;
      @include transition(all, 300ms, ease);
    }
  }
}

