<div class="sidebar col-sm-4">
  <h1 ng-click="homeVm.stateReload()">{{homeVm.title}}</h1>
  <button class="btn btn-default" ng-click="homeVm.roomModal()">Create Room</button>

  <ul class="room-list">
    <li ng-repeat="room in homeVm.rooms" ng-click="homeVm.setActiveRoom(room.$id, room.name)">{{room.name}}</li>
  </ul>
</div>

<!-- Placeholder if no chatroom is selected -->
<div ng-if="homeVm.currentRoom === null" class="chat-landing col-sm-8">
  <h2>Welcome to Blabby!</h2>
  <span>Please create a new room or choose an existing room.</span>
</div>

<!-- If chatroom is selected, display messages for that room -->
<div ng-if="homeVm.currentRoom !== null" class="chat-container col-sm-8">
  <h3>{{homeVm.currentRoom.name}}</h3>
  <div class="list-container row">
    <ul id="message-list">
      <li ng-repeat="message in homeVm.currentRoom.messages" ng-class-even="'even'" class="row">
        <div class="message-container col-sm-10">
          <div class="username">{{message.username}}</div>
          <p class="content">{{message.content}}</p>
        </div>
        <div class="sent-at col-sm-2">
          <div class="time">{{message.sentAt | date: 'shortTime'}}</div>
          <div class="date">{{message.sentAt | date: 'MMM d'}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="message-input-container row">
    <input id="message-input" class="message-input col-sm-10" type="text" placeholder="Write your message here..." ng-model="homeVm.newMessage" ng-keyup="homeVm.sendOnEnter($event)">
    <button class="message-send btn btn-default col-sm-2" ng-click="homeVm.submitNewMessage()">Send</button>
  </div>
</div>